<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function goBack() {
          window.history.back();
        }
    </script>
    <style>
        body {
            background:#000;
            font-family:'Lato',sans-serif;
            font-size:32px;
            color:#fff;
        }
        
        #main {
            margin-top:200px;
            text-align:center;
            color:#fff;
            
        }

        a {
            color:rgb(170, 255, 251);
            text-decoration:none;
        }
    </style>
    <title>MS Teams</title>
</head>
<body>
    <div id="main">You have left the meeting.<br><h6><span onclick="goBack()">Rejoin the call.</a>.</h6></div>
    
</body>
</html>
