.main {
    height: 100vh;
    display: flex;
    
}

#video_grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

video {
    height: 300px;
    width: 540px;
    object-fit: cover;
    padding: 8px;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(170, 170, 170); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(105, 105, 105); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3; 
}

#leave_meeting {
    display: flex;
    color:#fff;
    flex-direction: column;
    justify-content: center;
    height:30px;
    padding: 10px;
    font-size:12px;
    margin:5px 15px;
    min-width: 80px;
    border-radius:5px;
    background-color:#ff0000;
    cursor: pointer;
}

#leave_meeting:hover {
    background-color:#EB534B;
}

.left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.right {
    flex: 0.2;
    background-color: #242324;
    border-left: 1px solid #3D3D42;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
}

.videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.controls {
    background-color: #1C1E20;
    font-size:11px;
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height:55px;
}


.controls_block {
    display: flex;
}

.controls_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    min-width: 80px;
    cursor: pointer;  
}

.controls_button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.controls_button i {
    font-size: 18px;
    padding-top:5px;
}

.header {
    padding-top: 15px;
    color: #F5F5F5;
    text-align: center;
}

.chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.message_container {
    padding: 22px 12px;
    display: flex;
    height:80px;
}

::placeholder {
    font-size:14px;
    padding: 0 0 10px 10px;
}

.message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    padding-left:8px;
    border: solid 1px rgb(124, 124, 124);
    border-radius:5px;
    color: #F5F5F5;
}




.unmute, .stop {
    color: #CC3B33;
}

